<div class="hero flex">

    <div class="container med">
        <h1>Log In</h1>
        <p>Do the thing!</p>
        <p class="flex-col">
            <input type="email" placeholder="you@oakframe.org" value="{signup_email}"/>
            <input type="password" placeholder="Password" value="{signup_password}"/>
            <button>Sign Up</button>
        <p>
            Don't have an Account? <a href="/signup">Sign Up</a>.<br/>
            Forgot your Password? <a href="/reset">Reset Password</a>.
        </p>
        </p>
    </div>
</div>