<div class="footbar" id="footbar">
    <div class="navbar-inner nav-container">
        <a class="site-title no-decoration" style="font-weight:bolder;" href="//{hostname}:8080/">
            <div class="left"><i class="fas fa-bezier-curve"></i><span class="hide-mobile"> OakFrame</span></div>
        </a>

        <div class="right" id="pill-search-expand" style="z-index:-3;"><input id="pill-search" placeholder="Search ..."
                                                                              type="text"
                                                                              value="{search_safe}"><i
                id="pill-search-icon" class="fas fa-search"></i></div>

        <a href="/{profile_link}" class="right" style="z-index:-3;"><i class="far fa-user-circle"></i><span
                class="hide-mobile"> Log In</span></a><a href="/play" class="right" style="z-index:-3;"><i
            class="fas fa-map-marked-alt"></i><span class="hide-mobile"> Play</span></a>
    </div>
</div>