<div class="hero flex">

    <div class="container med">
        <h1>Sign Up</h1>
        <p>It's free and there are a lots of great reasons to become a member!</p>
        <p class="flex-col">
            <input id="signup-first-name" type="text" placeholder="First Name" value=""/>
            <input id="signup-email" type="email" placeholder="Email Address" value=""/>
            <input id="signup-password" type="password" placeholder="New Password" value=""/>
            <button>Sign Up</button>
        <p>Have an Account? <a href="/login">Log In</a>.<br/>
            Forgot your Password? <a href="/reset">Reset Password</a>.
        </p>
        </p>
    </div>
</div>