<div class="hero flex">

    <div class="container med">
        <h1>Sign Up</h1>
        <p>It's free and there are a lots of great reasons to become a member!</p>
        <p class="flex-col">
            <input type="text" placeholder="you@oakframe.org" value="{signup_email}"/>
            <input type="email" placeholder="you@oakframe.org" value="{signup_email}"/>
            <input type="password" placeholder="Password" value="{signup_password}"/>
            <button>Sign Up</button>
        <p>Have an Account? <a href="/login">Log In</a>.<br/>
            Forgot your Password? <a href="/reset">Reset Password</a>.
        </p>
        </p>
    </div>
</div>