@import "Globals";

input[type=text],input[type=email],input[type=password], textarea, input[type=submit], button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: $radius-size;
  background: $pill-color;
  display: inline-block;
  padding: 4px $base-padding;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button {
  width: auto;
}

input[type=submit]:hover, button:hover {
  background: #ddd;
  cursor: pointer;
}