@import "Globals";

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > span {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}

.dropdown-inner {
  background-color: $pill-color;
  min-width: 160px;
  //box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
  padding: 4px $base-padding;
  margin-top: 40px;
  border-radius: $radius-size;
  text-align: right;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#pill-search {
  width: 0;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  transition: width 0.125s ease-in-out;
}

#pill-search.pill-search-open {
  width: 120px;
  margin-right: $base-padding;
}

#pill-search-icon {
  cursor: pointer;
}

.navbar-inner > #pill-search-expand {
  padding: 3px $base-padding;
}