$base_font_size: 12pt;
$base_line_height: 18pt;
$leading: $base-line-height;
$border_color: #999;
$background-color: #e1ecf5;
$foreground-color: #fff;
$muted: #98a3ad;
$site_color: #999;
$heavy: #668;
$base-padding: 10px;
$pill-color: #efefef;
$radius-size: 4px;
$mobile: 42em;

$header-padding: $leading*.5 $leading*2;

@mixin text-size($size) {
  font-size: $base_font_size*$size;
  line-height: $base_line_height*$size;
}


@media screen and (max-width: $mobile) {
  .hide-mobile {
    display: none;
  }
}


// ------ flexbox + grid
/* ------
//flex-flow: <‘flex-direction’> || <‘flex-wrap’>;
//flex-direction: row | row-reverse | column | column-reverse;
//flex-wrap: nowrap | wrap | wrap-reverse;
//justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
//align-items: stretch | flex-start | flex-end | center | baseline;
//justify-content: $justify-content;
     //align-items: $align-items;
 ------ */

@mixin flex($flow) {
  display: flex;
  flex-flow: $flow;

  @if $flow == 'row wrap' {

  } @else if $flow == 'column' {
    align-items: normal;
  } @else {

  }
}

.flex {
  display: flex;
  align-items: center;

  &-row {
    @include flex(row wrap);
  }

  &-col {
    @include flex(column);
  }
}

[class*="-nowrap"] {
  flex-wrap: nowrap
}

[class*="-reverse"] {
  flex-direction: row-reverse
}

[class*="align-start"] {
  align-items: flex-start
}

[class*="align-center"] {
  align-items: center
}

[class*="align-end"] {
  align-items: flex-end
}

[class*="align-stretch"] {
  align-items: stretch
}


[class*="justify-start"] {
  justify-content: flex-end
}

[class*="justify-center"] {
  justify-content: center
}

[class*="justify-end"] {
  justify-content: flex-end
}

[class*="space-between"] {
  justify-content: space-between;
}

[class*="space-around"] {
  justify-content: space-around
}

[class*="grow"] {
  flex: 1
}

[class*="first"] {
  order: -1
}

[class*="last"] {
  order: 1
}