@import "Globals";

.text-center {
  text-align: center;
}

.icon-huge {
  text-align: center;
  font-size: 200pt;
  color: rgba(5, 5, 5, 0.3);
}

@media screen and (max-width: $mobile) {
  .icon-huge {
    font-size: 120pt;
  }
}